engine-strict=true
auto-install-peers=true
frozen-lockfile=false
virtual-store-dir=node_modules/.pnpm

# only built dependencies
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
